
*{
    background-color: #f9f4ef;
}

button{
    background-color: #8c7851;
}
h1,h4,h5{
    font-family: 'Montserrat';
    color:#716040;
    font-weight: bold;
    text-align: left;
    display: inline;
}
h1,h2{
    text-align: center;
}



#graficos {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
}



.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.col-plot {
    flex: 1;
}

#plot1 {
    flex: 1;
    /* Ocupa todo el espacio disponible */
}

#plot3 {
    flex: 1;
    /* Ocupa todo el espacio disponible */
}



.list-group-item{
    background-color: #e2e2be;
}


.bg-light tr{
    background-color: #cc9b41;
    color: #fffffe;
}

img {
    width: 50px; /* Ajusta el valor según sea necesario */
    height: auto; /* Para mantener la proporción original */
    float: left;
}

body{
    margin: 20px;
    padding: 10px;
    background-color: #f2f7f5;
    }


table.default tr:not(:nth-child(1)):not(:nth-child(2)) {
    display: none;
}

.default td, span{
    background-color:rgb(207, 202, 106);
}

